<header class="tc pt4 z-999">
  <a href="/"><img class="w5-ns w4" src="/assets/logo.png" alt="Pabelit Project">
  </a>
  <h1 class="mt2 i b f1">Pabelit Projek</h1>
  <nav class="tc flex flex-wrap justify-between-ns justify-center mt3 w-60-ns mb0 w-100 center">
    <a class="w-20-ns w-30 f6 f5-l link black underline-hover h2 v-middle dib" href="/batch-00">Batch 00</a>
    <a class="w-20-ns w-30 f6 f5-l link black underline-hover h2 v-middle dib" href="/batch-01">Batch 01</a>
    <a class="w-20-ns w-30 f6 f5-l link black underline-hover h2 v-middle dib" href="/batch-02">Batch 02</a>
    <a class="w-20-ns w-30 f6 f5-l link black underline-hover h2 v-middle dib" href="/batch-03">Batch 03</a>
    <a class="w-20-ns w-30 f6 f5-l link black underline-hover h2 v-middle dib" href="/tentang">Tentang Kami</a>
  </nav>
</header>
